<html lang = "en">
    <head>
        <meta charset="UTF-8"/>
        <title>UDYOG REFER</title>
        <script src ="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-[#0d1117] min-h-screen flex items-center justify-center text-white">
        <div class="flex flex-col items-center  space-y-6">

        <!--Heading-->
        <div class = "text-center">
            <div class = "text-6xl font-extrabold tracking-wide text-gray-200">UR</div>
            <div class = "text-4xl font-semibold tracking-widest mt-2 text-gray-200">UDYOG REFER</div>
            <div class = "text-2xl font-bold mt-10">Welcome!</div>
        </div>

        <!--Buttons-->
        <div class ="flex flex-col items-center space-y-6 w-80">
            <button class="w-full py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-800 transition"> I can REFER</button>
            <button class="w-full py-3 bg-blue-800 text-white font-semibold rounded-lg hover:bg-blue-500 transition"> I want a REFFERAL</button>
            <button class = "w-20 py-4 bg-red-600 text-red font-bold rounded-lg hover:bg-red-300 transition text-red-200">Logout</button>
        </div>

        </div>

    </body>

</html> 